.container {
  width: 42%;
  height: auto;
  border: 3px solid black;
  text-align: center;
  justify-content: center;
  position: relative;
  left: 450px;
  border-radius: 15px;
}

.bottom {
  border-top: 2px solid black;
  position: relative;
  vertical-align: bottom;
  height: 100vh;
}

.date {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 22px;
  position: relative;
  right: 230px;
}

.time {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 22px;
  position: relative;
  left: 230px;
  bottom: 47px;
}

.total {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 22px;
  position: relative;
  right: 35px;
}

.amount {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 22px;
  position: relative;
  bottom: 46px;
  left: 40px;
}

.w_name {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  bottom: 45px;
  right: 200px;
}

.kopa_num {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  left: 200px;
  bottom: 87px;
}

.top {
  height: 60px;
  border-bottom: 2px solid black;
}

.items_header {
  border-bottom: 2px solid black;
  height: 50px;
}

.item_name {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  right: 250px;
  padding-top: 20px;
}

.item_price {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  right: -10px;
  bottom: 18px;
}

.item_total_price {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  bottom: 35px;
  left: 230px;
}

.items {
  border-bottom: 2px dotted black;
  height: 50px;
}

html {
  height: 100vh;
}

button {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: lightblue;
  position: relative;
  bottom: 920px;
  left: 500px;
}
